:root {
    --primary-color: #ffffff;
    --secundary-color: #000000;
    --shadow-color: #c2bebe;
}

* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
}

#returnButton {
    top: 150px;
}