.table {
    background-color: var(--primary-color);
    border: solid 5px var(--secundary-color);
    width: 400px;
    height: 400px;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 2px var(--shadow-color) ;

    display: grid;
    grid-template-columns: repeat(3, 133.4px);
    grid-template-rows: repeat(3, 133.4px);

    margin-top: 10px;
}

.table div {
    border: solid 1px var(--secundary-color);
    padding: 25px;
}
