.table {
    background-color: white;
    width: 400px;
    height: 400px;
    border: solid 5px black;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 2px rgb(194, 190, 190);

    display: grid;
    grid-template-columns: repeat(3, 133.3px);
    grid-template-rows: repeat(3, 133.3px);
}

.table div {
    border: solid 1px black;
    padding: 25px;
}


