.button {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 4px var(--secundary-color) solid;
    background-color: var(--primary-color);

    left: 40px;
    top: 40px;

    transition: transform 0.5s ease;

    box-shadow: 2px 2px 2px 2px var(--shadow-color) ;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--secundary-color);
    text-align: center;
}

.button:hover{
    transform: scale(1.15);
}
